%table.table
  %thead.table__header
    %th.table__header__text Description
    %th.table__header__text Category
    %th.table__header__text Quantity
    %th.table__header__text Unit Price
    %th.table__header__text Total
  %tbody
    - @invoice.invoice_items.each do |item|
      %tr.table__row
        %td.table__cell= item.inventory_item.description
        %td.table__cell= item.inventory_item.category.name
        %td.table__cell= item.quantity
        %td.table__cell= number_to_currency item.cost
        %td.table__cell= number_to_currency item.calculated_total