%tr.nested-fields.table__row
  = f.simple_fields_for :inventory_item, InventoryItem.new do |inventory_item|
    %td= inventory_item.text_field :description, data: { autocomplete_source: inventory_items_path }, placeholder: 'Description'
    %td= inventory_item.text_field :category_name, data: { autocomplete_source: categories_path }, placeholder: 'Category'
  %td= f.input :quantity, label: false, placeholder: 'Quantity', input_html: {min: 0, step: 1}
  %td= f.input :cost, label: false, placeholder: 'Cost', input_html: {min:0, step: 'any'}
  %td= link_to_remove_association "Remove", f, data: { confirm: 'Are you sure?'}
