%h1.heading Invoices
.options
  = link_to '+', new_invoice_path ,class: 'button--circular icon align-right'
  = image_tag('icons/settings.png', class: 'icon settings')
%table.table.box-shadow
  %thead.table__header
    %th.table__header__text= sortable('invoice_number', 'Invoice #')
    %th.table__header__text= sortable 'supplier_id'
    %th.table__header__text Category
    %th.table__header__text= sortable 'received_on_date', 'Received On'
    %th.table__header__text Total
    %th.table__header__text.settings_options
      Options
  %tbody.table__body
    - @invoices.each do |invoice|
      %tr.table__row.clickable-row{"data-href" => invoice_url(invoice) }
        %td.table__cell= invoice.invoice_number
        %td.table__cell= invoice.supplier.name
        %td.table__cell= invoice.category
        %td.table__cell.text--bold= invoice.received_on_date.strftime('%a, %d %b %Y')
        %td.table__cell= number_to_currency invoice.total
        %td.table__cell.settings_options
          = link_to edit_invoice_path(invoice), class: 'settings_options__link' do
            = inline_svg('icons/edit.svg', class: 'icon--s edit', data: {:title => 'Edit'})
          = link_to invoice, :method => :delete, data: {confirm: 'Are you sure?'}, class: 'settings_options__link' do
            = inline_svg('icons/delete.svg', class: 'icon--s delete', data: {:title =>'Delete'})