%h1 Viewing Invoice
= link_to 'Edit Invoice', edit_invoice_path
%br
= @invoice.created_at
%br
= "Supplier: #{@invoice.supplier.name}"
= "Invoice Total: #{number_to_currency @invoice.total}"
= render 'display'
