%table
  %thead
    %th Id
    %th Description
    %th Quantity
  %tbody
    - @inventory_items.each do |inventory_item|
      %tr
        %td= inventory_item.id
        %td= inventory_item.description
        %td= inventory_item.quantity
        %td= link_to 'Delete', inventory_item, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }
= link_to 'New', new_invegntory_item_path